:$PORT
root * /usr/share/caddy
file_server browse

header {
    Permissions-Policy "interest-cohort=()"
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Robots-Tag "none"
    X-Content-Type-Options "nosniff"
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "DENY"
    Content-Security-Policy "upgrade-insecure-requests"
    Referrer-Policy "same-origin"
    X-Download-Options "noopen"
    X-DNS-Prefetch-Control "off"
    X-Permitted-Cross-Domain-Policies "none"
    -Server
    -Hidden
}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@websocket_xray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-vmess
}
reverse_proxy @websocket_xray_vmess unix//etc/caddy/vmess

@websocket_xray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path /$AUUID-vless
}
reverse_proxy @websocket_xray_vless unix//etc/caddy/vless
